<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!--    Custom Css-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!--    Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Red+Hat+Display&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<!--    NAVBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Todo List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'tasks' %}">Dashboard</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'create_task' %}">Create Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'completed_tasks' %}" aria-disabled="true">Completed Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'user_logout' %}" aria-disabled="true">Logout</a>
                </li>
                <li class="nav-item justify-content-end">
                    <a href="{% url 'search' %}"><button class="btn btn-outline-success" type="submit">Search</button></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>



{% block content %}


{% endblock %}

</body>
</html>