h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;

}

nav{
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-size: 15px;
}

a{
    text-decoration: none;

}


